.about_us{
    max-width: 900px;
    margin: auto;
    font-size: 3rem;
    letter-spacing: 2px;
    color: tomato;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}
.text_about{
    max-width: 900px;
    line-height: 1.5em;
    margin: auto;
    font-size: 1.7rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 3em;
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 120px;
}

.contacts_inner {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}

.team_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_inner {
    text-align: center;
}
.team-member{
    width: 300px;
    height: 300px;
    position: relative;
}
.team-member:hover{
    opacity: 0.01;
}
.team-member-1{
    display: flex;
    position: absolute;
    z-index: -1;
    transform: translate3d(0, -100%, 0);
    width: 300px;
    height: 300px;
}

.vk{
    font-size: 22px;
    color: #787878;
}
.vk:hover{
    color: tomato;
}
.dop_infa{
    background-color: #f0f0f0;
    width: 80%;
    padding-left: 5%;
}
.dop_infa_1{
    font-size: 3rem;
    letter-spacing: 2px;
    color: black;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.text_dop_infa{
    line-height: 1.5em;
    letter-spacing: 1px;
    margin-bottom: 3em;
    color: black;
    padding-right: 4px;
    padding-bottom: 10px;
}
.rule{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}
.rule-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}
.rule-1{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.5%;
}
.title_rule{
    margin-bottom: 6%;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #212121;
}
.rule-main{
    letter-spacing: 1px;
    line-height: 1.5em;
}