
html, body {
    height : 100%;
    padding: 0;
    margin: 0;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    text-align: center;
    width: auto;
    padding: 0 15px;
}
#range3 {
    height: 100%;
    min-height: 600px; 
    background: url("img/back_profile.jpg") no-repeat left top;
}

#range3 .login-wr {
    position: relative;
    margin: 0 auto;
    background: rgba(184, 184, 184, 0.7);
    max-width: 290px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px 15px 0 15px;
}

#range3 #logo {
    height: 208px;
    font-size: 200px;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    color: black;
}

#range3 .form {
    padding-top: 20px;
    text-align: center;
}

#range3 input[type="text"], 
#range3 input[type="email"],
#range3 input[type="tel"],
#range3 input[type="password"],
#range3 button {
    margin-bottom: 25px;
    height: 40px;
    outline: 0;
    -moz-outline-style: none;
}  
#range3 input[type="text"] {
    background:  no-repeat;    
}
#range3 input[type="password"] {
    background:  no-repeat;    
}
#range3 input[type="email"] {
    background:  no-repeat;    
}
#range3 input[type="tel"] {
    background:  no-repeat;    
}
#range3 input[type="text"],
#range3 input[type="password"],
#range3 input[type="email"],
#range3 input[type="tel"] {
    width: calc(80% - 50px);
    border: none;
    border-bottom: 1px solid #666;
    padding: 0 0 0 20px;
    font-size: 14px;
}

#range3 input[type="text"]:focus,
#range3 input[type="password"]:focus,
#range3 input[type="tel"]:focus,
#range3 input[type="email"]:focus {
    border-bottom: 1px solid #ccc;
    color: #eee;
}  
    
#range3 a {
    text-align: center;
    font-size: 12px;
    color: #eee;
}
      
#range3 button {
    width: 80%;
    background: none;
    border:none;
    border: 1px solid #666;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

#range3 *::-webkit-input-placeholder {
    color: #666;
}

#range3 *:-moz-placeholder {
    color: #666;
}

#range3 *::-moz-placeholder {
    color: #666;
}

#range3 *:-ms-input-placeholder {
    color: #666; 
}

#range3 p {
	padding-bottom: 10px;
}
#range3 button:hover{
    background-color: #fff;
    color: black;
    transition: background .4s linear;
}


