
.contacts {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 120px;
}

.contacts_inner {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}

.contacts_block {
    opacity: 0.9;
    border: 1px solid #9C9C9C;
    width: 372px;
    height: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_inner {
    text-align: center;
}

.contact_pin {
    margin-bottom: 21px;
    font-size: 54px;
}
.contact_pin:hover {
    margin-bottom: 21px;
    font-size: 54px;
    color: tomato;
}

.contact_title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #212121;
    margin-bottom: 16px;
}

.contact_mini_title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14.0575px;
    line-height: 20px;
    color: #6C6C6C;
}

.contact_info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14.0575px;
    line-height: 20px;
    color: #212121;
}

.address {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14.0575px;
    line-height: 20px;
    color: #6C6C6C;
}
.position_info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14.0575px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 4%;
}
