.main_error{
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 10%;
}
.pic_error{
    margin: auto;
    font-size: 200px;
    color: tomato;
}
.text_error{
    margin: auto;
    font-size: 2em;
}
.type_error{
    margin: auto;
    padding-top: 2%;
    text-align: center;
}
.btn_back{
    margin: auto;
    width: 414px;
    margin-top: 5%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .main_error{
        padding-top: 50%;
    }
    .pic_error{
        font-size: 400px;
    }
    .text_error{
        font-size: 3em;
        text-align: center;
    }
    .type_error{
        font-size: 2em;
    }
 }