@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {    
    .header {
        margin-top: 23px;
    }
    
    .logo {
        margin-left: 50px;
        font-size: 20px;
    }
    
    .menu {
        margin-right: 20px;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .menu_link, .menu_link_active {
        font-size: 19px;
    }
    .big_book{
        background-image: url(img/book-slider1.jpg);
    }
    
    .big_book_text {
        margin: 0 30px;
    }
    
    .text_up {
        font-size: 15px;
    }

    .text_h2 {
        font-size: 40px;
        letter-spacing: -3px;
        margin-bottom: -15px;
    }
    
    .text_under {
        margin-bottom: 10px;
    }
    .coms{
        width: 1px;
    }

    .btn {
        width: 170px;
        height: 35px;
        font-size: 14px;
    } 
    .genres {
        margin-top: -43px;
        padding: 0;
    }
    
    .main_hat {
        margin-top: 100px;
    }

    .hat_link {
        font-size: 25px;
        margin-right: 40px;
    }
    
    .main_hat .hat_link {
        margin-left: 20px; 
    }
    
    .explore_all {
        font-size: 12px;
        margin-right: 6%;
    }
    
    .explore_all:active {
        padding: 0 15px;
    }
    
    .catalog {
        padding: 0;
        margin-top: -70px;
    }

    .hat_heading {
        font-size: 25px;
        line-height: 34px;
        margin-left: 30px;
    }

    .six_books {
        margin-top: 20px;
        max-width: 480px;
        min-width: 320px;
    }

    .one_of_six_books {
        margin-left: -1px;
        margin-right: 0;
        overflow:hidden;
    }
    
    .hot {
        margin-top: 0;
        background-image: url(img/21323.jpg);
    }
    

    .hot_inner {
        width: 100%;
        height: 100%;
        position: relative;
        float: left;
    }

    .hot .hot_inner .hot_text  {
        margin-top: 170px;
        margin-left: 10%;
    }


    .social {
        width: 100%;
        height: 517px;
    }
    
    .social_background {
        width: 100%;
        height: 517px;
        background-image: url(img/back-img2.jpg);
        filter: blur(7px);
        z-index: 99;
        position: absolute;
        margin-left: -105px;
    }
  
    .social_text {
        position: relative;
        z-index: 100;
        padding: 30px;
        display: flex;
        flex-direction: column;
        max-width: 480px;
        margin-left: -60px;
    }

    .text_up_3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #6c6c6c;
    }

    .text_under_2 {
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        margin: 15px 0 40px 0;
    }

    .footer {
        max-width: 480px;
        margin: 0 auto;
        padding-top: 100px;
        min-height: 826px;
    }
    
    .footer_inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer_top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer_top_left, .footer_top_middle, .footer_top_right {
        margin: 0 auto;
        max-width: 300px;
        margin-bottom: 30px;
        
    }

    .textbox{
        height:48px;
        width:200px;
        margin-left: -10px;
    }

    .send_btn {
        display: inline-block;
        position: relative;
        margin-left: 160px;
        margin-top: 40px;
        opacity: .8;
    }

    .footer_text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
    }

    .middle_text {
        font-size: 15px;
    }

    .footer_bottom_text {
        font-size: 10px;
        padding-bottom: 20px;
    }

    /*каталог*/
    
    .top .header {
        padding-top: 23px;
    }
    
    .top_title {
        font-size: 50px;
        font-weight: 300;
        line-height: 30px;
        margin: auto 22px;
        bottom: 30px;
    }
    
    .catalog_genres_titles {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

/*страница книги*/

.book_content {
    display: flex;
    flex-direction: column;
}
.main_picture{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.describtion_btn {
    width: 70%;
    height: 50px;
}
.describtion_text {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.list_title{
    padding: 17px 17px;
}
.book_name{
    text-align: center;
}

/*контакты*/

.contacts_inner {
    flex-direction: column;
}

.contacts_block {
    padding: 0 10px;
    margin-bottom: 20px;
    width: 100%;
}

/*профиль*/
.profile_describtion{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.ll{
    font-size: 20px;
}
/*о нас*/
.text_about{
    padding: 0px 13px;
}
.rule{
    flex-direction: column;
}
.rule-img{
    width: 200px;
    height: 200px;
    margin: auto;
}
.rule-1{
    text-align: center;
}
.rule-change{
    flex-direction: column-reverse;
}
.title_rule{
    font-size: 28px;
}
.rule-main{
    font-size: 20px;
}
}