.profile_list {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    background-color: #f4f4f4;
    margin-top: 36px;
    border-bottom: none;
    color: #212121;
    width: 100%;
}

.profile_list_inner {
    display: flex;
    justify-content: center;
}
.profile_main{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
    background-image: url(img/back_profile.jpg);
}


.book_content{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 7%;
}

.book_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ll{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.describtion_text{
    display: flex;
}
.profile_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f4f4f4;
}
.main_photo{
    width: 300px;
    height: 300px;
}
.profile_describtion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(236, 236, 236, 0.7);
    box-shadow: 3px 3px 10px #333;
    padding: 3%;
}

.describtion_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13px;
}

 .profile_name {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: bold;
}
.hat_heading{
    font-size: 36px;
}
hr{
    width: 100%;
    background-color: tomato;
    padding: 0.5%;
    margin: 4%;
}

