.genres_list {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    background-color: #f4f4f4;
    margin-top: 36px;
    margin-bottom: 7%;
    border-bottom: none;
    color: #212121;
}

.genres_list_inner {
    display: flex;
    justify-content: center;
}


.book_content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 7%;
}

.book_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.book_describtion {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.describtion_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13px;
}

 .book_name {
    margin-bottom: 10px;
    font-size: 34px;
}
.book_genre {
    font-size: 28px;
    margin-bottom: 15px;
}

.describtion_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:  white;
    border-radius: 50px;
    text-decoration: none;
    box-shadow:  0 3px 9px 0px #ccc;
    color: black;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.ef:hover{
    background: tomato;
    color: white;
    transition: background .37s linear;
}
.ef:active{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}


.describtion_text {
    margin: 10% 0px;
}
.main_picture{
    height: 570px;
    width: 570px;
}
.main_picture_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
