/*Основное*/
html {
 box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1517px;
    background-color: #ffffff;
    margin: 0 auto;
}

.container {
    max-width: 1517px;
    margin: 0 auto;
}

.margin_ {
    margin-left: 98px;
    margin-right: 98px;
}

.padding_ {
    padding-left: 98px;
    padding-right: 98px;
}

.clearfix {
    clear: both;
}

/*Голова???*/

.big_book {
    max-width: 1517px;
    height: 800px;
    background-image: url(img/book-slider.jpg);
}

.big_book_inner {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 64px;
    position: relative;
}

.logo {
    margin-left: 98px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 700;
}

.menu {
    display: flex;
    max-width: 568px;
    justify-content: space-around;
    margin-right: 98px;
}

.menu_list {
    list-style-type: none;
    display: inline-block;
}

.menu_link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 300;
    color: #8C8C8C;
    padding: 10px 13px;
}
.menu_link:hover {
    color: #212121;
}

.menu_link:active {
    border-bottom: 3px solid #212121;
}

.user:active{
border-bottom: none;
color: tomato;
}

.big_book_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20%;
}

.text_up {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: tomato;
}

.text_h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.text_under {
    margin-top: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;   
    max-width: 610px;
    letter-spacing: -.2px;
    margin-bottom: 20px;
}

.btn {
    width: 214px;
    height: 47px;
    color: #212121;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4.9px rgba(33, 33, 33, 0.35);
}
.effect:hover{
	-webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
.effect:active{
 background-color: tomato;
 color: #ffffff;
}

/*Жанры*/

.genres {
    min-height: 609px;
    width: 100%;
    display: inline-block;
    padding: 0 71px;
    padding-left: 98px;
    padding-right: 98px;
}

.main_hat {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    align-items:center;
}
.explore_all {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #6C6C6C;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.explore_all:hover{
    background-size: 100% 2px;
    color: #212121;
}
.explore_all:active{
 color: tomato;
}

.genres_catalog {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px
}

.half {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.small_book {
    text-align: center;
    position: relative;
    margin: 3px 5px;
}

.small_book_inner {
    display: inline-block;
}

.small_book_inner:hover img {
    opacity: .01;
}

.small_book_inner img {
    transition: opacity .1s linear;
}

.small_book_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 32px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translate3d(0, -82%, 0);
}

.small_btn {
    font-weight: 600;
    font-size: 35px;
    width: 50px;
    height: 50px;
    padding: 2px 0 0 2px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 2px 4.9px rgba(33, 33, 33, 0.35);
    margin-bottom: 20px;
    text-decoration: none;
    color: #212121;
}

.small_header {
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    color: #212121;
}

.small_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #6C6C6C;
}

/*Каталог*/

.hat_heading {
    font-weight: bold;
    font-size: 46px;
    line-height: 44px;
    color: #212121;
}

.six_books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 65px;
    width: 100%;
}

.one_of_six_books {
    margin: 10px;
    width: 370px;
    height: 370px;
}

/*Книга недели*/

.hot {
    margin-top: 100px;
    max-width: 1517px;
    height: 800px;
    background-image: url(img/2132.jpg);
}

.hot_inner {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.hot .hot_inner .hot_text  {
    margin-top: 280px;
}

.text_up_2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e53935;
}

/*Мобильное приложение*/

.social {
    width: 100%;
    height: 517px;
    background-image: url(img/back-img1.jpg);
}

.social_inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.social_text {
    display: flex;
    flex-direction: column;
    width: 635px;
}

.text_up_3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6c6c6c;
}

.text_under_2 {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    margin: 15px 0 40px 0;
}

/*Подвал*/

.footer {
    background-color: #f7f7f7;
    max-width: 1517px;
    margin: 0 auto;
    min-height: 384px;
    padding-top: 100px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_top_left {
    width: 230px;
}

.footer_top_middle {
    width: 300px;
}

.footer_top_right {
    width: 370px;
}

.textbox{
    height:48px;
    width:371px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding-left:10px;
    position: absolute;
    margin-top: 25px;
}

.textbox:focus{
    outline: none;
    border: tomato 2px solid;
    color: #6C6C6C;
}

.send_btn {
    display: inline-block;
    position: relative;
    margin-left: 336px;
    margin-top: 40px;
    opacity: .8;
}

.footer_top_left, .footer_top_middle, .footer_top_right {
    margin-bottom: 30px;
}

.footer_middle_text {
    display: flex;
    justify-content: space-between;
}

.footer_heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #6C6C6C;
    margin-bottom: 25px;
}

.footer_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}

.middle_text {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #212121;
}
.middle_text a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #6c6c6c;
}
.middle_text a:hover{
    background-size: 100% 2px;
}

.footer_bottom {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.footer_bottom_text {
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #6C6C6C;
}

.footer_bottom_btns {
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.footer_btn {
    max-height: 27px;
    max-width: 27px;
    min-height: 27px;
    min-width: 27px;
    width: 100%;
    background: #787878;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.i-1:hover {
    background: #3B5998;
    transition: background .1s linear;
}     
.i-2:hover {
    background: #55ACEE;
    transition: background .1s linear;
}
          
.i-3:hover {
    background: #DD4B39;
    transition: background .1s linear;
}
          
.i-4:hover {
    background: #c8232c;
    transition: background .1s linear;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: tomato; 
}

@media screen and (max-width: 1050px){
    .menu {
        margin-left: 18px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    
    .menu_list {
        margin-bottom: 20px;
    }
    
}

.one_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}






