.one_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top {
    background-color: #f0f0f0;
    width: 100%;
    height: 360px;
    position: relative;
}

.top .header {
    margin-top: 0;
    padding-top: 64px;
}

.top_title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 92px;
    line-height: 72px;
    color: #212121;
    margin-left: 98px;
    bottom: 56px;
    position: absolute;
}

.catalog_genres {
    padding-top: 72px;
}

.catalog_genres_titles {
    display: flex;
    margin-left: 7%;
}

.list_title {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #6C6C6C;
    padding: 10px 17px;
}

.list_title:hover {
    color: #212121;
}


.list_title:active {
    color: tomato;
}
.twelve_books .six_books:nth-child(2) {
    margin-top: 0;
}