.form_post{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
.comm{
    display: flex;
    width: 800px;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    padding: 5px 10px;
    font-size: 20px;
    resize: none;
}
.comm:focus{
    outline: none;
    border: tomato 2px solid;
    color: #6C6C6C;
}
.submit_btn{
    color: #ccc;
    background-color: white;
    border: none;
    display: flex;
    font-size: 35px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0px #ccc;
    border-radius: 50%;
}
.submit_btn:hover{
    color: tomato;
    transition: color .27s linear;
}
.submit_btn:active{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.comments_all{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 3% 0px;
}
.title_com{
    font-size: 30px;
    letter-spacing: 3.4px;
}
.user_comm{
    font-weight: bold;
    margin-right: 3%;
}
.full_comm{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    padding: 2% 0%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.dop_eff{
    border: none;
    background: white;
    cursor: pointer;
}
.dop_eff:hover{
    color: tomato;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.form_post{
    width: 100%;
}
.comm{
    width: 100%;
    margin-left: 15%;
    height: 51px;
}
.full_comm{
    margin-top: 9%;
}
.comments_all{
    padding: 9% 0px;
}
.submit_btn{
    margin-right: 20px;
}
}
/*для профиля*/
.extra_btn{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 4.4px;
    text-transform: uppercase;
    font-weight: 300;
    color: rgb(56, 56, 56);
}
.margin_book{
    margin: 4% 0%;
    margin-top: 8%;
}
.no_books{
    margin: 5%;
}